.btn-remove {
	opacity: 0.4;
}
.post {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #000;
}
.post svg {
	fill: rgb(145, 142, 142);
	font-size: 30px;
}
.post svg:hover{
	fill: rgb(58, 57, 57);
	animation: snake 1.2s ease-in-out;
}
@keyframes snake {
	0%, 50%, 100% {
		transform: rotate(0deg);
	}
	10%, 30% {
		transform: rotate(-10deg);
	}
	20%, 40% {
		transform: rotate(10deg);
	}
}



.post p {
	color: #8d8d8b;
}
h1 {
	opacity: 0.8;
}
h2 {
	opacity: 0.8;
}