
.post {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #000;
}
.post svg {
	font-size: 30px;
}
.post p {
	color: #8d8d8b;
}
h1 {
	opacity: 0.8;
}
h2 {
	opacity: 0.8;
}