
.addNewPost {
	margin-bottom: 10px;
	text-align: center;
}
.posts {
	margin: 0 auto;
	width: 1000px;
	margin-bottom: 100px;
  margin-top: 45px;
	border: 1px solid #1b79b8;
	padding: 50px;
	border-radius: 20px;
	background-color: #393939;;
	box-shadow: 0px 1px 8px 5px #00000045;
}


.blackBtn {
		padding: 5px 15px;
    border-radius: 6px;
    background-color: #393939;
    color: white;
		transition: .1.5s;
}
.blackBtn:hover {
	background-color: #393939;
	opacity: 0.8;
}